# API TESTER - HEALTH INSURANCE CROSS-SELL

In [15]:
import pandas as pd
import json
import requests

## Handler

In [16]:
homepath = '/home/gutto/Repos/Insurance-Cross-Sell/'

df_test = pd.read_pickle(homepath + 'data/processed/x_val.pkl')
df_test = df_test.sample(50)

In [17]:
df_test.head()

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response,premium_per_vintage,insurance_age,premium_per_age
35208,189055,Female,71,28.0,13.0,1,between_1_2_year,Yes,0,51464.0,250,0,205.856000,4,32600.101523
22281,261891,Male,24,28.0,124.0,1,between_1_2_year,Yes,0,41720.0,194,1,215.051546,5,31169.456085
22850,326624,Female,24,30.0,152.0,1,below_1_year,No,1,23514.0,155,0,151.703226,5,31169.456085
13824,46274,Male,24,13.0,152.0,1,below_1_year,No,1,24801.0,103,0,240.786408,5,31169.456085
11672,54597,Male,62,28.0,26.0,1,between_1_2_year,Yes,0,49296.0,188,0,262.212766,1,31870.501529

In [18]:
# convert dataframe to json
data = json.dumps(df_test.to_dict( orient='records'))

In [23]:
# API Call
#url = 'http://192.168.2.206:5000/predict'
url = 'https://cross-sell-bot.herokuapp.com/predict'
header = {'Content-type': 'application/json'}
r = requests.post(url, data = data, headers = header)
print(f'Status Code {r.status_code}')

Status Code 200

In [24]:
df1 = pd.DataFrame(r.json(), columns=r.json()[0].keys())
df1.sort_values('score', ascending=False).head()

,id,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response,premium_per_vintage,insurance_age,premium_per_age,score
2,326624,Female,24,30.0,152.0,1,below_1_year,No,1,23514.0,155,0,151.703226,5,31169.456085,0.577168
5,92340,Female,24,46.0,152.0,1,below_1_year,No,1,25234.0,77,0,327.714286,5,31169.456085,0.573587
16,290859,Female,24,41.0,152.0,1,below_1_year,No,1,26002.0,185,0,140.551351,5,31169.456085,0.562951
29,156030,Female,23,50.0,152.0,1,below_1_year,No,1,23359.0,61,0,382.934426,5,30536.526999,0.508220
37,151643,Female,23,41.0,152.0,1,below_1_year,No,1,31483.0,125,0,251.864000,5,30536.526999,0.508157